html {
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0 auto;
margin-right: 0 auto; 
}




* {
  font-family: 'Roboto', sans-serif;
  margin-left: 3px;
  margin-right: 3px;
}

#midden {
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0 auto;
  
}

#hoofd {
  font-size: 36px;
  line-height: 36px;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  margin: 40px;
  line-height: 36px;
  color: black;
}

#tips {
  margin-top: 25px;
  background-color: #def6ed;
  border-radius: 4px;
  padding: 1rem;
}



h2 {
  font-size: 32px;
  line-height: 32px;
}

#head {
  font-size: 24px;
  line-height: 32px;
}